body {
  font-size: 24px;
  background-color: black;
  color: white;
}

button {
  color: orange;
  background-color: white;
}

.libs {
  width: 140px;
  margin-left: 50%;
}

span {
  opacity: 60%;
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

label {
  display: flex;
  flex-direction: column;
  width: 300px;
}
