body {
  font-size: 24px;
  background-color: black;
  color: white;
}

button {
  color: orange;
  background-color: white;
}

.libs {
  width: 140px;
}

span {
  opacity: 60%;
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

label {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.topimage {
  text-align: center;
  margin: 5% auto;
}

.Selector {
  justify-content: center;
  background-color: tomato;
  padding: 5px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  background-color: transparent;
  border-color: transparent;
}

.Aligner {
  margin-top: 20px;
  width: 150px;
  flex-direction: column;
  align-items: column;
  color: white;
}

/* 
.Aligner.Buttons {
} */
